.Rproj.user
.Rhistory
.RData
.Ruserdata
.git
*.RData
*.RDS
*.xlsx
*.xls
*.md
*.png
*.pdf
*.html
cl.txt
/.project
.directory
files
.idea
__pycache__
.ipynb_checkpoints
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.rds
*.Rds
packrat
